#finalizarPedido{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 20px;
    background-color: #f2f2f2;
    transition: ease-in-out 1s;
    border: 1px solid black;
    z-index: 5;
}

.FPbotaoFechar{
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
    font-size: 20px;
}

.FPHeader{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e2e2;
    color: #222;
}

.FPButtons{
    color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px;
}

.FPButtons a{
    padding: 15px;
    border-radius: 5px;
    background: #2081a7;
    display: flex;
    flex-direction: row;
    color: #f2f2f2;
    gap: 10px;
}

.FPDadosDoCartao{
    display: flex;
    flex-direction: column;
    /* height: 80%; */
    width: 90%;
    padding: 20px;
}

.FPDadosDoCartao label{
    margin-top: 20px;
}

.FPDadosDoCartao input{
   height: 30px;
   background-color: #d5d6d6;
}