#footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    color:#f2f2f2;
    height: 30vh;
    background-color: #012414;
    margin-bottom:-25px;
    position: relative;
}

.logoHortifruti{
    width: 100px;
    padding-right:0;
}

.redesSociais{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.divLeft{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

}

.divCenter{
    width: 30%;    
}

.direitos{
    position: absolute;
    bottom:0;
    color: rgb(197, 197, 197);
    font-weight: lighter;
 
    
}



.textFooter{
    font-size: 15px;
    text-align: center;
}

.divRight{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
}

.horarioFooter{
    font-weight: 300;
}
.direitos p{
    /* text-align: center; */
    width: 100%;
    font-size: 10px;
    font-weight: 300;
    
}


@media(max-width: 600px){
    #footer{
        height: 80vh;
        flex-direction: column;
    }

    .divCenter{
        width: 80%;
    }

    .divRight{
        width: 80%;
    }
}