#painel{
    background: url('../img/hortifrutiAlvorada.jpg') fixed center no-repeat;
    background-size: cover;
    /* background-position: 0 -150px; */
}


.setaBaixo{
animation: updown infinite alternate ease-in-out 500ms;
}

.setaBaixo{
position: absolute;
bottom: 20px;
margin: auto;
right: 50%;
left: 50%;
width: 50px;
}

.painelCarousel{	
	width: 80%;
	height: 50%;
	position: relative;
	border-radius: 5px;
	/* overflow: hidden; */
}

.painelButtonNext img{
	right: 0;
}

.painelButtonPrev img{
	transform: rotate(180deg);
	left: 0;
}

.painelButtonPrev img, .painelButtonNext  img{
	position: absolute;
	margin: auto;
	top: 50%;
	bottom: 50%;
	width: 50px;
}

.imgPainelCarousel {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 1px solid;
	display:none;
	transition: ease-in-out 1s;
}

.imgPainelCarouselMostrar {
	display: flex;
}

.painelIconIndicador{
	position: absolute;
	top: -25px;
	right: 10px;
}


@media(max-width: 600px){
	.setaBaixo{
		display: none;
	}
}


@keyframes updown {
	0% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(10px);
	}
}