#produtos{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding:50px;
    gap: 20px;
    overflow-x: hidden;
}



.divTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75vw;
    border-bottom: 2px solid rgba(75, 74, 74, 0.753);
}

.divHeaderProdutos{
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 30px;
}

.divHeaderProdutos a{
    border: 2px solid black;
    padding: 10px;
    background-color: #012414;
    color: #f2f2f2;
    transition: 200ms;
    border-radius: 5px;
}

.divHeaderProdutos a:hover{
    padding: 10px;
    background-color: #f2f2f2;
    color: #000000;
    cursor: pointer;
}



.tituloProdutos{
    text-align: left;

}

.tituloProdutos h2{
    font-size: 30px;
    font-weight: 700;
    color: #0b5c00;
    margin: 10px 0; 

}

.tituloProdutos h3{
    font-size: 18px;
    font-weight: 500;
    color: #222;

}

.divTop{
    position: relative;
    
}

.ArrowLongRightIcon, .ArrowLongLeftIcon{
    position: absolute;
    width: 40px;
    top: -30px;
}

.ArrowLongRightIcon{
    left: 100%;
}

.ArrowLongLeftIcon{
    right: 100%;
}





.divTop .carousel{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 80vw;
}

.divTop .carousel::-webkit-scrollbar{
    display: none;

}

.divTop .carousel .item{
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 16px;
    flex: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.divTop .carousel .item .image{
    height: 150px;
}

.divTop .carousel .item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.divTop .carousel .item .info{
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.divTop .carousel .item .info span{
    display: block;
    text-align: center;
    color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
}



.divTop .carousel .item .info .name{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #78bd00;
}

.divTop .carousel .item .info .oldPrice{
    font-size: 0.8rem;
    text-decoration: line-through;
    flex-grow: 1;
    color: #e81a5d;
}

.divTop .carousel .item .info .price{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #012414 ;
    color: #f2f2f2;
}


.divTop .carousel .item .info button{
    display: block;
    text-align: center;
    color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
}

.divTop  button{
    border: none;
    cursor: pointer;
}

.divTop button img{
    width: 50px;
}

.buttonPrev{
    transform: rotate(180deg);
    position: absolute;
    left: -150px;
    top: 150px;
}

.buttonNext{
    position: absolute;
    right: -150px;
    top: 150px;

}



/********** Carrinho *********/

.carrinho{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrinhoDivLista{
    display: flex;
    flex: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.carrinhoDivLista h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrinhoDivListaValores{
    display: flex;    
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.carrinhoDivImg{    
    position: relative;
    margin-bottom: 100px;
    min-width: 100vw;
}

.carrinhoDivImg img{    
    width: 80px;    
    position: absolute;
    animation: carrinhoFromLeft linear infinite 5s;
    bottom: -100px;
    overflow-x: hidden;

}

.carrinhoListaDinamicaLegendas, .carrinhoListaDinamicaValores{
    border-bottom: 1px solid #222;
}

.carrinhoDivListaLegendas{
    width: 100%;
}

.limparLista, .realizarPedido{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px;
    border-radius: 20px ;
    margin: 5px;
}

.realizarPedido{
    background-color: #012414;
    color: white;
}

.limparLista{    
    color: red;
}

@keyframes carrinhoFromLeft {
    0%{ 
        left: -300px;
    }   
    100%{
        left: 100%;
    } 
}




/******* Responsivo **********/

@media(max-width: 600px){
    #produtos{
        height: 100%;
        padding: 50px 0;
    }

    .divHeaderProdutos{
        flex-direction: column;
        gap: 40px;
    }
    
    .divTop .buttons{
        display: none;        
    }

    .divTop .carousel{
        max-width: 100vw;
    }
    .buttonNext, .buttonPrev{
        display: none;
    }

}


/*
limao  #BDD702  
verde #5C8F02  
varde #ADCB01
verde escuro #649105
amarelo claro #FEFDB9
laranja #FA6013
amarelo claro 2 #FFE47A
rosa #E82FB6
laranja #FF7B29

*/
