#produtos{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding:50px;
    gap: 20px;
}

.divTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75vw;
    border-bottom: 2px solid rgba(75, 74, 74, 0.753);
}

.divHeaderProdutos{
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 30px;
}

.divHeaderProdutos a{
    border: 2px solid black;
    padding: 10px;
    background-color: #012414;
    color: #f2f2f2;
    transition: 200ms;
    border-radius: 5px;
}

.divHeaderProdutos a:hover{
    padding: 10px;
    background-color: #f2f2f2;
    color: #000000;
    cursor: pointer;
}



.tituloProdutos{
    text-align: left;
}

.tituloProdutos h2{
    font-size: 30px;
    font-weight: 700;
    color: #0b5c00;
    margin: 10px 0; 
}

.tituloProdutos h3{
    font-size: 18px;
    font-weight: 500;
    color: #222;
}


@media(max-width: 600px){
    #produtos{
        height: 100%;
        padding: 50px 0;
    }
    .divHeaderProdutos{
        flex-direction: column;
        gap: 40px;
    }


}




/*
limao  #BDD702  
verde #5C8F02  
varde #ADCB01
verde escuro #649105
amarelo claro #FEFDB9
laranja #FA6013
amarelo claro 2 #FFE47A
rosa #E82FB6
laranja #FF7B29

*/
