#receitas{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f2f2f2;
    flex-direction: column;

}

*{
    font-family: cursive
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

.tituloReceitas{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    color: #415e04;
    font-size: 35px; 
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: 16px;

}

.mainCardReceitas{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.divCardsReceitas{
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;    
    text-align: center;
    height: 70vh;
    margin-top: 50px;
    gap: 50px;
}

.cardAnimation:first-child{
    animation: cardFromLeft ease-in-out 800ms;
}

.cardAnimation:nth-child(2){
    animation: cardFromLeft ease 1.1s;
}

.cardAnimation:last-child{
    animation: cardFromLeft ease 1.3s;
}


.cardReceita{
    height: 450px;
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: #415e04;
    border-radius: 10px;
}

.divImgCardReceitas{
    background-color: green;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.divImgCardReceitas img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-right: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.divCardsReceitas a:hover{
    transition: ease-in-out 200ms;
}

.divCardsReceitas a:hover{
    transform: scale(1.05);
}

@keyframes cardFromLeft{
    0%{
        /* display: none; */
        opacity: 0.1;
        transform: translateX(-500px);
    }
    100%{
        /* display: flex; */
        opacity: 1;
        transform: translateX(0);
    }
}

.divAlimentacaoSaudavelText{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px 50px;
    text-align: center;
    border-top: solid 4px #999999ec;
    border-bottom: solid 4px #999999ec;
    padding: 30px 0 ;
}


.divAlimentacaoSaudavelText h2{
    font-size: 22px;
    
}

.divAlimentacaoSaudavelText p{
    font-size: 17px;
    
}

.titleCardReceitas{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin: 15px 0 5px 0;
    padding: 0 10px;

}

.textCardReceitas{
    padding: 5px 10px;
}

.divReceita{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.divReceitaContainer{
    width: 50%;
}

.divReceitaContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 0;
}

.divTextReceita{
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
    justify-content: center;
    background-color: #faf9c5;
    color: #FA6013;
}

.divTextReceita h3{
    font-size: 30px; 
    font-weight: 800;
    margin-bottom: 50px;
}

.divTextReceita h4{
    font-size: 25px; 
    font-weight: 600;
}

.divTextReceita p{
    font-size: 18x; 
    font-weight: 500;
}

/*
limao  #BDD702  
verde #5C8F02  
varde #ADCB01
verde escuro #649105
amarelo claro #FEFDB9
laranja #FA6013
amarelo claro 2 #FFE47A
rosa #E82FB6
laranja #FF7B29

*/

























.imgProduto{
    width: 100%;
    height: 100%;
    /* position: center; */
    /* background-size: cover; */
    object-fit: cover;
    padding-right: 0;
}


.legendaCard{
    position:absolute;
    margin: auto;
    right: 50%;
    left: 50%;
    /* bottom: -10px; */
    z-index: 1;
}

