#sobre{
    background: #f2f2f2;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.divConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 100%;
    width: 90%;
    padding: 50px;    
}

.textoEsquerda{
    height: 90%;
    width: 40%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    font-size: 100%;
    font-weight: 500;
}

.titulo{
    font-weight: 800;
    font-size: 30px;    
    color: #222;
    text-align: center;
}

.texto{
    text-align: justify;
    font-weight: 500;
    font-size: 20px;    
    color: #222;
}

.textoDireita{
    height: 90%;
    width: 40%;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    font-size: 100%;
    font-weight: 500;
}

.sectionSobre{
    background: #d4e3eb;
    background-position: cover;
    
}

.textosSobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 50px; */
    justify-content: space-around;
}

.sobreDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 50px;
    justify-content: center;
}

.sobreDiv img{
    width: 40%;
    border-radius: 10px;
}



.sobreDivWrap{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sobreDivWrap img{
    width: 45%;
    
}



@media(max-width: 600px){
    #sobre{
        height: 100%;
    }
    .textosSobre{
        flex-direction: column;
        gap: 30px;
        padding: 20px 0;
    }

    .textosSobre h2{
        margin-bottom: 20px;

    }
    .textoDireita, .textoEsquerda{
        width: 95%;
    }

}

.tituloTeste{
    font-size: 50px;
    color: black;
}