#sobre{
    background: #f2f2f2;
    /* background-position: cover; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    /* background-color: #e4f8e0; */
}

.divConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c5e1a5;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 80%;
    width: 90%;
    padding: 10px;
}



.textoEsquerda{
    height: 100%;
    width: 40%;
    color: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding: 10px;
    font-size: 100%;
    font-weight: 500;
    justify-content: center;
}

.textoEsquerda.texto:first-child{
    margin-bottom: 100px;
}

.titulo{
    font-weight: 800;
    font-size: 20px;
    color: #222;
    text-align: center;
}

.texto{
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    color: #222;
}

.textoDireita{
    height: 100%;
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    font-size: 100%;
    font-weight: 500;
    text-align: center;
}

.sectionSobre{
    background: #d4e3eb;
    background-position: cover;
    
}

.textosSobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    
    
}

.textosSobre img{
    width: 100%;

}





@media(max-width: 600px){
    #sobre{
        height: 100%;
    }
    .textosSobre{
        flex-direction: column;
        gap: 30px;
        padding: 30px 0;
    }
    .textoDireita, .textoEsquerda{
        width: 80%;
    }

}


