.App {
  height: 100vh;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');



Body {
  font-family: 'Poppins', sans-serif;
  
}

.robotoLight{
  font-family: 'robotoLight', sans-serif;
}
