

.separator{
    width: 100%;
}



.carousel-wrapper{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rec-carousel-item:focus{
    outline: none;
    box-shadow: inset 0 0 1px 0px blue;
}

.textCarousel{
    position: absolute;
    bottom: -260px;
    background: white;
    padding: 20px;
    transition: 500ms ease-in-out;
}

.textCarousel:hover{
    display: block;    
    bottom: 0;
}

.imgCarousel:hover~.textCarousel{   
    bottom: 0;
    
}

.containerCarousel{
    position:relative;
    /* border: 1px solid black; */
}

.tituloCarousel{
    /* color:white; */
    /* margin: 10px; */
    text-align: center
}