.card:hover{
    transform: translateY(10px)
}

.legendaCard{
    position:absolute;
    margin: auto;
    right: 50%;
    left: 50%;
    /* bottom: -10px; */
    z-index: 1;
}

.card{
    position: relative;
}