#sobre{
    background: #5f9ea0;
    background-position: cover;
}

.sectionSobre{
    background: #d4e3eb;
    background-position: cover;
    
}

.textosSobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 10%; */
    justify-content: space-around;
}